    </main>
    <footer>
        <div class="container-footer" data-aos="fade-up">
            <div class="contact">
                <form action="">
                    <h2>Contactez nous</h2>
                    <div>
                    <label for="">Nom</label><br>
                    <input type="text" name="">
                </div>
                <div>
                    <label for="">Email</label><br>
                    <input type="email" name="">
                </div>
                <div>
                    <label for="">Objet</label><br>
                    <input type="text" name="">
                </div>
                <div>
                    <label for="">Message</label><br>
                    <textarea name="" id=""></textarea>
                </div>
                <div>
                    <button name="submit">Envoyer</button>
                </div>
            </form>
        </div>
        <div class="div1" data-aos="fade-up">
            <h3>Rejoignez-nous</h3>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Unde suscipit vel ipsam aliquid eum ibero minus, quae asperiores
            </p>
            <span>
                <p>Exemple@gmail.com / + 1 00 00 00 00</p>
            </span>
        </div>
        <div class="div2" data-aos="fade-up">
            <h3>Accès rapide</h3>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/service">Services</a></li>
                <li><a href="/about">Propos</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="reseau">
        <h3>Solidarité Sans Frontières <i class="fa-solid fa-hands-holding-child" style="color: #ffffff;"></i></h3>
        <div>
            <a href=""><i class="fa-brands fa-facebook" style="color: #ffff;"></i></a>
            <a href=""><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></a>
            <a href=""><i class="fa-brands fa-linkedin-in" style="color: #ffffff;"></i></a>
            <a href=""><i class="fa-brands fa-x-twitter" style="color: #ffffff;"></i></a>
        </div>
        <p class="copy">&copy; 2025 - Tous les droit sont réservés </p>
    </div>
</footer>
</body>
</html>