<%- include("partials/header") %>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus optio
    laborum provident velit! Fuga consequatur, saepe reprehenderit perspiciatis voluptates aperiam
    numquam labore odit praesentium aut officia debitis totam. Harum, tenetur!
</p>
<br>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus optio
    laborum provident velit! Fuga consequatur, saepe reprehenderit perspiciatis voluptates aperiam
    numquam labore odit praesentium aut officia debitis totam. Harum, tenetur!
</p>
<br>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus optio
    laborum provident velit! Fuga consequatur, saepe reprehenderit perspiciatis voluptates aperiam
    numquam labore odit praesentium aut officia debitis totam. Harum, tenetur!
</p>
<br>
<br>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus optio
    laborum provident velit! Fuga consequatur, saepe reprehenderit perspiciatis voluptates aperiam
    numquam labore odit praesentium aut officia debitis totam. Harum, tenetur!
</p>
<br>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus optio
    laborum provident velit! Fuga consequatur, saepe reprehenderit perspiciatis voluptates aperiam
    numquam labore odit praesentium aut officia debitis totam. Harum, tenetur!
</p>
<%- include("partials/footer") %>