<%- include("partials/header") %>
<h2>Nous contacter</h2>
<h3>+ 1 000 00 000 00</h3>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus optio
    laborum provident velit! Fuga consequatur, saepe reprehenderit perspiciatis voluptates aperiam
    numquam labore odit praesentium aut officia debitis totam. Harum, tenetur!
</p>
<br>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus optio
    laborum provident velit! Fuga consequatur, saepe reprehenderit perspiciatis voluptates aperiam
    numquam labore odit praesentium aut officia debitis totam. Harum, tenetur!
</p>
<br>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus optio
    laborum provident velit! Fuga consequatur, saepe reprehenderit perspiciatis voluptates aperiam
    numquam labore odit praesentium aut officia debitis totam. Harum, tenetur!
</p>
<br>
<%- include("partials/footer") %>