<%- include("partials/header") %>
<link rel="stylesheet" href="/css/style.css">
<!-- LINK CDN CSS AOS -->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<section class="section1">
    <h1 data-aos="fade-up">Votre besion est notre priorité</h1>
    <p data-aos="fade-up">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Officiis ex iure porro, explicabo, eum qui perferendis sit temporibus optio pariatur
        placeat consequatur quod praesentium quae excepturi sint et laboriosam ab.
    </p>
</section>
<section class="section2">
    <h2>Vue d'ensemble</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod</p>
    <div class="container" data-aos="fade-up">
        <div>
            <h3>+ 200</h3>
            <p>Lorem ipsum dolor</p>
        </div>
        <div>
            <h3>+ 570</h3>
            <p>Lorem ipsum dolor</p>
        </div>
        <div>
            <h3>+ 10</h3>
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</section>
<section class="section3">
    <div class="div1" data-aos="fade-up">
        <h2>Nos Opportunitées sont offert à tous</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis,
            molestiae ex amet iusto repudiandae. Veniam, corporis itaque.
        </p>
    </div>
    <div class="div2" data-aos="fade-up">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam, vel,aliquam non itaque adipisci,
            possimus nemo debitis eos mollitia est quaerat ipsum modi provident unde ducimus
            veritatis iure accusamus distinctio!
        </p>
    </div>
</section>
<section class="section4">
    <div class="div1">
        <h2>Fondateur de Solidarité Sans Frontières</h2>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Modi animi beatae architecto rerum nemo quidem cum iure nihil magni ut,
            ipsum ab consequatur repellendus commodi at quibusdam. Sequi, laudantium corporis!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Modi animi beatae architecto rerum nemo quidem cum iure nihil magni ut,
            ipsum ab consequatur repellendus commodi at quibusdam. Sequi, laudantium corporis!
        </p>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Modi animi beatae architecto rerum nemo quidem cum iure nihil magni ut,
            ipsum ab consequatur repellendus commodi at quibusdam. Sequi, laudantium corporis!
        </p>
        <div>
            <h2>Ce qui fait notre force</h2>
            <div class="force">
                <div data-aos="fade-up">
                    <i class="fa-solid fa-handshake-angle"></i>
                <h4>Quibusdam</h4>
                </div>
                <div data-aos="fade-up">
                    <i class="fa-solid fa-users"></i>
                    <h4>Sequi</h4>
                </div>
                <div data-aos="fade-up">
                    <i class="fa-brands fa-stack-overflow"></i>
                    <h4>Beatae</h4>
                </div>
                <div data-aos="fade-up">
                    <i class="fa-solid fa-money-bill-transfer"></i>
                    <h4>Beatae</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="div2" data-aos="fade-up">
        <img src="/images/photo-Directeur.avif" alt="">
        <h4>Laurent Huber</h4>
    </div>
</section>
<!-- LINK JS CSS AOS -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<%- include("partials/footer") %>