<%- include("partials/header") %>
<h2>Nos services</h2>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Reprehenderit amet nisi nesciunt? Libero pariatur vero,
    perferendis et aliquid, inventore commodi voluptate,
    quasi laudantium suscipit dolorem repudiandae quia. At, ipsum. Ullam?
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Reprehenderit amet nisi nesciunt? Libero pariatur vero,
    perferendis et aliquid, inventore commodi voluptate,
    quasi laudantium suscipit dolorem repudiandae quia. At, ipsum. Ullam?
</p>
<h2>Soutient</h2>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Reprehenderit amet nisi nesciunt? Libero pariatur vero,
    perferendis et aliquid, inventore commodi voluptate,
    quasi laudantium suscipit dolorem repudiandae quia. At, ipsum. Ullam?
</p>
<%- include("partials/footer") %>